body {
  background-color: black;
  color: white;
}

header {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

footer {
  margin-top: 3rem;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

 * {
  transition: all 0.5s ease-out;
 }

.logo {
  width: 250px;
}

.text-xl {
  font-size: xx-large;
  font-weight: 700;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-pink {
  background-color: #ffb8c1;
  border: 2px solid #ffb8c1;
  border-radius: 0;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
}

.btn-pink:hover {
  background-color: black;
  color: #ffb8c1;
}

.icon {
  width: 32px;
  height: 32px;
  color: #ffb8c1;
}

.icon:hover {
  color: #f84a80;
  transition: all 0.2s ease;
}

.copyright {
  font-size: small;
  color: #f84a80;
  font-weight: 600;
}

.card {
  background-color: black;
  padding: 0.5rem;
}

.select {
  background-color: #f84a80;
  border-radius: 2rem;
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.justify-center {
  justify-content: center;
}

.fall {
  animation: fall 1s ease-out;
}

@keyframes fall {
  0% { opacity: 1; transform: translate(0, 0) }
  100% { opacity: 0; transform: translate(0, 50px)}
}